img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  body{
    background-color: #EAF6F6;
  }

  h1{
      color: #66BFBF;
  }
  h3{
    color: #66BFBF;
  }

  hr{
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: greey;
    border-width: 5px;
  }